.projects-container {
    display: grid;
    gap: 1rem;
    
    /* 
        https://developer.mozilla.org/en-US/docs/Glossary/Grid
        https://stackoverflow.com/questions/43129360/css-grid-wrapping
     */
    grid-template-columns: repeat(
        /* Repeat the number of columns based on if the available space and minimum width for each column */
        auto-fit,
        minmax(280px, 1fr)
    );
}

.projects-container.limited {
    max-height: 320px;  /* Limit height to take up less space */
    overflow: hidden;   /* Hide project text that would go outside of the container */
    position: relative; 
}
.projects-container.expanded {
    max-height: none;   /* Remove height limit when expanded */
}

.projects-fade {
    position: absolute;
    left: 0; right: 0; bottom: 0; /* Place fade effect at the bottom */
    height: 60px;
    background: linear-gradient(
        to bottom, 
        transparent, 
        white 80%
    );
    pointer-events: none; /* Allow clicks to pass through the fade effect */
    z-index: 1;           /* Placement above the project items in z dimension */
}
.projects-fade.hidden {
    display: none;
}

#show-all-projects {
    margin-top: 1em;
    display: block;
}
