/* Initial values */
:root {
    --navbar-height: 80px; /* Fallback value, in case `navbar_height.js` */
}

.section {
    /* WHEN USING NAVIGATION LINK, account for navbar, to avoid hiding part of text, calculated in `navbar_height.js` */
    scroll-margin-top: var(--navbar-height); 
}

#home-section {
    min-height: calc(100vh - var(--navbar-height)); /* Stretch first section to fit exactly to usable space */
}
