/* Navigation links */

.nav-link .bi {
    font-size: 1.5rem;
}

/* Active link styles */
.nav-link.active .bi { /* Content */
    color: #007bff;
}
.nav-link.active { /* Background */
    background-color: rgba(0, 123, 255, 0.1);
    border-radius: 0.375rem;
}

.nav-link:hover .bi {
    color: #0056b3;
}
