{% extends "portfolio.html" %}

{% set language = "en" %}

{# Navbar and sections text #}
{% set sections_titles = ({
    "home":"Intro",
    "about":"About me",
    "technologies":"Technologies",
    "projects":"Projects",
    "certificates":"Certifications",
    "contacts":"Contact",
}) %}

{# Home section #}
{% set download_cv_text = "Download CV" %}
{% set home_section_texts = ({
    "location":         "Brno, South Moravia, Czech Republic",
    "brief_about":      "I am a software developer with a focus on Python, C/C++, and web technologies.",
    "download_cv_text": "Download CV"
}) %}

{# About me section #}
{% set about_section_texts = ({
    "about_me_header":"About Me",
    "professionally_header":"Professionally",
    "professionally_content_1":"I'm a Junior Software Developer who enjoys working on anything that makes sense and has real value. I'm not afraid of new challenges and I like learning new technologies and approaches.",
    "professionally_content_2":"I've been involved in computer science for <span class=\"study-years fw-bold text-primary\"></span> years, building my foundation through studying at FIT BUT and creating personal projects.",
    "personally_header":"Personally",
    "personally_content_1":"I'm a tech enthusiast who enjoys creating and improving things - from drawings and Lego models to video games and software.",
    "personally_content_2":"I believe in good planning and design. The questions \"why?\" and \"what for?\" are as important as \"how?\".",
}) %}

{# Technologies section #}
{% set technologies_section_texts = ({
    "technologies_header":"Technologies and Tools",
    "primary_expertise_header":"Primary Expertise",
    "web_applications":"Web applications (Flask, Bootstrap, HTML+CSS)",
    "databases":"Databases (SQL - MySQL)",
    "desktop_applications":"Desktop applications (Tkinter, Python)",
    "networking":"Network applications (C/C++)",
    "development_tools_header":"Development Tools",
    "additional_experience_header":"Additional Experience",
}) %}

{# Projects section #}
{% block projects_section_content %}
        <h2>Projects</h2>
        <div class="projects-container limited" id="projects-container">

            <div class="projects-fade"></div>
        </div>
        <button id="show-all-projects">Show All</button>
{% endblock projects_section_content %}

{# Certificates section #}
{% set certificates_section_texts = ({
    "certificates_header":"Certificates",
    "view_overview":"View Overview",
    "view_level_overview":"View Level Overview",
    "view_certification":"View Certification",
}) %}

{# Contacts section #}
{% set contacts_section_texts = ({
    "contacts_header":"Contact",
    "lets_connect":"Let's Connect!",
    "call_to_action":"Feel free to reach out through any of these platforms",
}) %}