{% extends "portfolio.html" %}

{% set language = "cs" %}

{# Navbar and sections text #}
{% set sections_titles = ({
    "home":"Úvod",
    "about":"O mně",
    "technologies":"Technologie",
    "projects":"Projekty",
    "certificates":"Certifikace",
    "contacts":"Kontakt",
}) %}

{# Home section #}
{% set download_cv_text = "Stáhnout životopis" %}
{% set home_section_texts = ({
    "location":         "Brno, Jihomoravský kraj, Česko",
    "brief_about":      "Jsem softwarový vývojář se zaměřením na Python, C/C++ a webové technologie.",
    "download_cv_text": "Stáhnout životopis"
}) %}

{# About me section #}
{% set about_section_texts = ({
    "about_me_header":"O mně",
    "professionally_header":"Profesně",
    "professionally_content_1":"Jsem Junior Software Developer, který rád pracuje na věcech, které dávají smysl a mají skutečnou hodnotu. Nebojím se nových výzev a rád se učím nové technologie a přístupy.",
    "professionally_content_2":"Věnuji se informatice již <span class=\"study-years fw-bold text-primary\"></span> let, během kterých jsem si vybudoval silný technický základ, to jak studiem na FIT VUT, tak i prací na osobních projektech.",
    "personally_header":"Osobně",
    "personally_content_1":"Jsem technologický nadšenec, který rád tvoří a zlepšuje stávající řešení.",
    "personally_content_2":"Věřím v dobré plánování a design. Otázky \"proč?\" a \"k čemu?\" jsou stejně důležité jako \"jak?\".",
}) %}

{# Technologies section #}
{% set technologies_section_texts = ({
    "technologies_header":"Technologie a nástroje",
    "primary_expertise_header":"Hlavní specializace",
    "web_applications":"Webové aplikace (Flask, Bootstrap, HTML+CSS)",
    "databases":"Databáze (SQL - MySQL)",
    "desktop_applications":"Desktopové aplikace (Tkinter, Python)",
    "networking":"Síťové aplikace (C/C++)",
    "development_tools_header":"Vývojové nástroje",
    "additional_experience_header":"Dodatečné zkušenosti",
}) %}

{# Projects section #}
{% block projects_section_content %}
        <h2>Projekty</h2>
        <div class="projects-container limited" id="projects-container">

            <div class="projects-fade"></div>
        </div>
        <button id="show-all-projects">Zobrazit vše</button>
{% endblock projects_section_content %}

{# Certificates section #}
{% set certificates_section_texts = ({
    "certificates_header":"Certifikace",
    "view_overview":"Zobrazit přehled",
    "view_level_overview":"Zobrazit úrovně",
    "view_certification":"Zobrazit certifikaci",
}) %}

{# Contacts section #}
{% set contacts_section_texts = ({
    "contacts_header":"Kontakt",
    "lets_connect":"Pojďme se spojit!",
    "call_to_action":"Neváhejte mě kontaktovat prostřednictvím kterékoli z těchto platforem",
}) %}