{% extends "portfolio.html" %}

{% set language = "en" %}

{# Navbar and sections text #}
{% set sections_titles = ({
    "home":"Intro",
    "about":"About me",
    "technologies":"Technologies",
    "projects":"Projects",
    "certificates":"Certifications",
    "contacts":"Contact",
}) %}

{# Home section #}
{% set download_cv_text = "Download CV" %}
{% set home_section_texts = ({
    "location":         "Brno, South Moravia, Czech Republic",
    "brief_about":      "I am a software developer with a focus on Python, C/C++, and web technologies.",
    "download_cv_text": "Download CV"
}) %}

{# About me section #}
{% set about_section_texts = ({
    "about_me_header":"About Me",
    "professionally_header":"Professionally",
    "professionally_content_1":"I'm a Junior Software Developer who enjoys working on anything that makes sense and has real value. I'm not afraid of new challenges and I like learning new technologies and approaches.",
    "professionally_content_2":"I've been involved in computer science for <span class=\"study-years fw-bold text-primary\"></span> years, building my foundation through studying at FIT BUT and creating personal projects.",
    "personally_header":"Personally",
    "personally_content_1":"I'm a tech enthusiast who enjoys creating and improving things - from drawings and Lego models to video games and software.",
    "personally_content_2":"I believe in good planning and design. The questions \"why?\" and \"what for?\" are as important as \"how?\".",
}) %}

{# Technologies section #}
{% set technologies_section_texts = ({
    "technologies_header":"Technologies and Tools",
    "primary_expertise_header":"Primary Expertise",
    "web_applications":"Web applications (Flask, Bootstrap, HTML+CSS)",
    "databases":"Databases (SQL - MySQL)",
    "desktop_applications":"Desktop applications (Tkinter, Python)",
    "networking":"Network applications (C/C++)",
    "development_tools_header":"Development Tools",
    "additional_experience_header":"Additional Experience",
}) %}

{# Projects section #}
{% set projects = [
    {
        "name": "Information System for Art School",
        "description": "Team project (3 members). Design and implementation of an information system for managing equipment rentals in art school studios. Focus on UX, user management capabilities (roles, permissions, login, registration).",
        "technologies": ["Flask", "SQL", "MySQL", "HTML", "CSS"],
        "githubUrl": "https://github.com/petr-plihal/IIS_projekt",
    },
    {
        "name": "Web Application for RPG Group Management",
        "description": "Team project (4 members). Market research, validation of design and final application with real potential customers. Database design and implementation. Backend in Django. Frontend in Vue. Development coordination in Trello. Project documentation in LaTeX.",
        "technologies": ["Django", "Vue.js", "Trello", "SQL", "MySQL", "LaTeX", "Python"],
        "githubUrl": "https://github.com/petr-plihal/ttrpg-group-manager",
    },
    {
        "name": "Database for General Practitioner",
        "description": "Team project (2 members). We designed a relational DB (ERD), then implemented it including test data, triggers, procedures, views and indexes in SQL for Oracle database. For documentation we used LaTeX. I extended the solution with a Dockerfile.",
        "technologies": ["SQL", "Oracle DB", "LaTeX", "Docker"],
        "githubUrl": "https://github.com/petr-plihal/doctor-office-db",
    },
    {
        "name": "WiFi Metronome with Web Interface",
        "description": "Microprocessor application hosting a small web server with interface for a 'metronome' that connects to a given WiFi network. MCU implementation used interrupts, timers, pulse width modulation, input validation. Web interface validated input ranges and prevented issues like double submission during use. The solution includes a user manual for setup and usage.",
        "technologies": ["C/C++", "HTML", "Arduino", "PlatformIO", "ESP32", "LaTeX"],
        "githubUrl": "https://github.com/petr-plihal/wifi-metronome",
    },
    {
        "name": "Client Application for Chat Server",
        "description": "Application for sending and receiving messages from a chat server. Uses sockets and manual TCP packet construction for unencrypted communication with the chat server. Implementation uses OOP with some design patterns.",
        "technologies": ["C/C++", "Wireshark"],
        "githubUrl": "https://github.com/petr-plihal/chat-client-ipk25",
    },
] %}

{% block projects_section_content %}
{% endblock projects_section_content %}

{# Certificates section #}
{% set certificates_section_texts = ({
    "certificates_header":"Certificates",
    "view_overview":"View Overview",
    "view_level_overview":"View Level Overview",
    "view_certification":"View Certification",
}) %}

{# Contacts section #}
{% set contacts_section_texts = ({
    "contacts_header":"Contact",
    "lets_connect":"Let's Connect!",
    "call_to_action":"Feel free to reach out through any of these platforms",
}) %}