{% extends "portfolio.html" %}

{% set language = "cs" %}

{# Navbar and sections text #}
{% set sections_titles = ({
    "home":"Úvod",
    "about":"O mně",
    "technologies":"Technologie",
    "projects":"Projekty",
    "certificates":"Certifikace",
    "contacts":"Kontakt",
}) %}

{# Home section #}
{% set download_cv_text = "Stáhnout životopis" %}
{% set home_section_texts = ({
    "location":         "Brno, Jihomoravský kraj, Česko",
    "brief_about":      "Jsem softwarový vývojář se zaměřením na Python, C/C++ a webové technologie.",
    "download_cv_text": "Stáhnout životopis"
}) %}

{# About me section #}
{% set about_section_texts = ({
    "about_me_header":"O mně",
    "professionally_header":"Profesně",
    "professionally_content_1":"Jsem Junior Software Developer, který rád pracuje na věcech, které dávají smysl a mají skutečnou hodnotu. Nebojím se nových výzev a rád se učím nové technologie a přístupy.",
    "professionally_content_2":"Věnuji se informatice již <span class=\"study-years fw-bold text-primary\"></span> let, během kterých jsem si vybudoval silný technický základ, to jak studiem na FIT VUT, tak i prací na osobních projektech.",
    "personally_header":"Osobně",
    "personally_content_1":"Jsem technologický nadšenec, který rád tvoří a zlepšuje stávající řešení.",
    "personally_content_2":"Věřím v dobré plánování a design. Otázky \"proč?\" a \"k čemu?\" jsou stejně důležité jako \"jak?\".",
}) %}

{# Technologies section #}
{% set technologies_section_texts = ({
    "technologies_header":"Technologie a nástroje",
    "primary_expertise_header":"Hlavní specializace",
    "web_applications":"Webové aplikace (Flask, Bootstrap, HTML+CSS)",
    "databases":"Databáze (SQL - MySQL)",
    "desktop_applications":"Desktopové aplikace (Tkinter, Python)",
    "networking":"Síťové aplikace (C/C++)",
    "development_tools_header":"Vývojové nástroje",
    "additional_experience_header":"Dodatečné zkušenosti",
}) %}

{# Projects section #}
{% set projects = [
    {
        "name": "Informační systém pro uměleckou školu",
        "description": "Týmový projekt (3 členové). Návrh a implementace informačního systému pro správu výpůjček zařízení ateliéry umělecké školy. Zaměření na UX, možnost správy uživatelů (role -- oprávnění, přihlašování, registrace).",
        "technologies": ["Flask", "SQL", "MySQL", "HTML", "CSS"],
        "githubUrl": "https://github.com/petr-plihal/IIS_projekt",
        "demoUrl": "https://github.com/petr-plihal/IIS_projekt"
    },
    {
        "name": "Webová aplikace pro správu RPG skupin",
        "description": "Týmový projekt (4 členové). Průzkum trhu, validace návrhu a výsledné aplikace se skutečnými potenciálními zákazníky. Návrh a implementace databáze. Backend v Django. Frontend ve Vue. Koordinace průběhu vývoje v Trellu. Dokumentace průběhu projektu v Latexu.",
        "technologies": ["Django", "Vue.js", "Trello", "SQL", "MySQL", "LaTeX", "Python"],
        "githubUrl": "https://github.com/petr-plihal/ttrpg-group-manager",
    },
    {
        "name": "Databáze pro praktického lékaře",
        "description": "Týmový projekt (2 členové). Navrhli jsme relační DB (ERD), poté ji implementovali včetně testovacích dat, triggerů, procedur, pohledů a indexů v SQL pro Oracle databázi. Pro dokumentaci jsme použili Latex. Řešení jsem sám rozšířil o Dockerfile.",
        "technologies": ["SQL", "Oracle DB", "LaTeX", "Docker"],
        "githubUrl": "https://github.com/petr-plihal/doctor-office-db",
    },
    {
        "name": "WiFi metronom s webovým rozhraním",
        "description": "Mikroprocesorová aplikace, hostující malý web server s rozhraním pro \"metronom\", který se připojí na danou WiFi síť. Implementace MCU využívala přerušení, časovače, pulzní šířkovou modulaci, validaci vstupů. Webové rozhranní validovalo rozsahy vstupů a bránilo např. double submission při užívání. Součástí řešení je uživatelská příručka pro zprovoznění a používání.",
        "technologies": ["C/C++", "HTML", "Arduino", "PlatformIO", "ESP32", "LaTeX"],
        "githubUrl": "https://github.com/petr-plihal/wifi-metronome",
    },
    {
        "name": "Klientská aplikace pro chat server",
        "description": "Aplikace pro zasílání a získávání zpráv z chatového serveru. Využívá sockety a ruční konstrukci TCP packetů pro nešifrovanou komunikaci s chatovým serverem. Implementace využívá OOP s některými návrhovými vzory.",
        "technologies": ["C/C++", "Wireshark"],
        "githubUrl": "https://github.com/petr-plihal/chat-client-ipk25",
    },
] %}

{% block projects_section_content %}
{% endblock projects_section_content %}

{# Certificates section #}
{% set certificates_section_texts = ({
    "certificates_header":"Certifikace",
    "view_overview":"Zobrazit přehled",
    "view_level_overview":"Zobrazit úrovně",
    "view_certification":"Zobrazit certifikaci",
}) %}

{# Contacts section #}
{% set contacts_section_texts = ({
    "contacts_header":"Kontakt",
    "lets_connect":"Pojďme se spojit!",
    "call_to_action":"Neváhejte mě kontaktovat prostřednictvím kterékoli z těchto platforem",
}) %}