{% extends "base.html" %}

{% block title %} {{ super() }}
    | Software Developer
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/layout.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/navbar.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/projects.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top" id="mainNavbar">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#home-section">
                        <i class="bi bi-house"></i>
                        <!-- <span class="nav-text">Domů</span> -->
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-me-section"><i class="bi bi-person-circle"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#technologies-section"><i class="bi bi-wrench-adjustable-circle-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects-section"><i class="bi bi-gear-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certificates-section"><i class="bi bi-award"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts-section"><i class="bi bi-envelope"></i></a>
                </li>

                <!-- Language switcher -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        {{ language|upper }}
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ SITEURL }}/">EN</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/index-cs.html">CS</a></li>
                    </ul>
                </li>
                <!-- Language switcher -->

            </ul>
        </div>
    </nav>
{% endblock %}

{% block content %}

    <header class="section" id="home-section">
        <h1 itemprop="name">Petr Plíhal</h1>
        <p itemprop="jobTitle">Junior Software Developer</p>
        <meta itemprop="url" content="https://peta-plihal.eu">
        <meta itemprop="nationality" content="Czech Republic">
        <!-- <embed src="plihal_petr_cv_en.pdf"/> -->
        {% if language is defined and download_cv_text is defined %}
            <a href="plihal_petr_cv_{{ language }}.pdf" download>{{ download_cv_text }}</a>
        {% endif %}
    </header>

    <div class="section" id="about-me-section">
        {% block about_me_section_content %}{% endblock %}
        <script src="{{ SITEURL }}/theme/javascript/years_calculator.js"></script>
    </div>


    <div class="section" id="technologies-section">
        {% block technologies_section_content %}{% endblock %}
    </div>


    <div class="section" id="projects-section">
        {% block projects_section_content %}{% endblock %}
        <script src="{{ SITEURL }}/theme/javascript/projects_gen.js"></script>
    </div>


    <div class="section" id="certificates-section">
        {% block certificates_section_content %}{% endblock %}
    </div>
        

    <!-- <h2>Education</h2> -->
    <!-- <h2>Work experience</h2> -->

    <div class="section" id="contacts-section">
        {% block contacts_section_content %}{% endblock %}
    </div>
{% endblock %}