{% extends "base.html" %}

{% block title %} {{ super() }}
    | Software Developer
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/layout.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/navbar.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/projects.css">
    <link rel="stylesheet" href="{{ SITEURL }}/theme/styles/socials.css">
{% endblock %}

{% block navbar %}
    <nav class="navbar navbar-expand-sm bg-body-tertiary sticky-top" id="mainNavbar">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
            <ul class="navbar-nav nav-fill w-100 mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#home-section">
                        <i class="bi bi-house"></i>
                        <span class="nav-text">{{ sections_titles["home"] }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about-me-section">
                        <i class="bi bi-person-circle"></i>
                        <span class="nav-text">{{ sections_titles["about"] }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#technologies-section">
                        <i class="bi bi-wrench-adjustable-circle-fill"></i>
                        <span class="nav-text">{{ sections_titles["technologies"] }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#projects-section">
                        <i class="bi bi-gear-fill"></i>
                        <span class="nav-text">{{ sections_titles["projects"] }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#certificates-section">
                        <i class="bi bi-award"></i>
                        <span class="nav-text">{{ sections_titles["certificates"] }}</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contacts-section">
                        <i class="bi bi-envelope"></i>
                        <span class="nav-text">{{ sections_titles["contacts"] }}</span>
                    </a>
                </li>

                <!-- Language switcher -->
                <li class="nav-item dropdown" id="navbar-language-switcher">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        <span class="nav-text">{{ language|upper }}</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{{ SITEURL }}/">EN</a></li>
                        <li><a class="dropdown-item" href="{{ SITEURL }}/index-cs.html">CS</a></li>
                    </ul>
                </li>
                <!-- Language switcher -->

            </ul>
        </div>
    </nav>
    <script src="{{ SITEURL }}/theme/javascript/navbar_height.js"></script>
{% endblock %}

{% block content %}

    <header class="section" id="home-section">
        <div class="row align-items-center justify-content-center pt-5">
            <div class="col-12 col-md-5 text-center order-md-1">
                <img src="{{ SITEURL }}/theme/media/profile-pic.png" alt="Petr Plíhal profilová fotografie" class="img-fluid rounded-circle shadow-lg mb-3" style="max-width: 280px; height: auto;">
            </div>
            
            <div class="col-12 col-md-7 text-center text-md-start order-md-2">
                <h1 class="display-4 fw-bold mb-3">Petr Plíhal</h1>
                <div class="d-flex mb-2 justify-content-between align-items-center">
                    <div>
                        <h2 class="lead text-primary">Full-stack Software Developer</h2>
                    </div>
                    <div class="text-end ">
                        <i class="bi bi-pin-map"></i>
                        <a>{{ home_section_texts["location"] }}</a>
                    </div>
                </div>

                <p class="fs-5 mb-4">{{ home_section_texts["brief_about"] }}</p>

                <div class="d-flex flex-wrap gap-2 justify-content-center justify-content-md-start">
                    {% if language is defined and download_cv_text is defined %}
                        <a href="plihal_petr_cv_{{ language }}.pdf" download class="btn btn-primary btn-lg me-md-3 mb-2 ">{{ home_section_texts["download_cv_text"] }}</a>
                    {% endif %}

                    <div class="d-inline-flex">
                        <a target="_blank" href="mailto:petaplihal@seznam.cz" class="social-btn email-btn">
                            <i class="bi bi-envelope-fill"></i>
                        </a>
                        <a target="_blank" href="https://www.linkedin.com/in/petr-plihal" class="social-btn linkedin-btn">
                            <i class="bi bi-linkedin"></i>
                        </a>
                        <a target="_blank" href="https://github.com/petr-plihal" class="social-btn github-btn">
                            <i class="bi bi-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </header>

    <div class="section" id="about-me-section">
        {% block about_me_section_content %}{% endblock %}
        <script src="{{ SITEURL }}/theme/javascript/years_calculator.js"></script>
    </div>


    <div class="section" id="technologies-section">
        {% block technologies_section_content %}{% endblock %}
    </div>


    <div class="section" id="projects-section">
        {% block projects_section_content %}{% endblock %}
        <script src="{{ SITEURL }}/theme/javascript/projects_gen.js"></script>
    </div>


    <div class="section" id="certificates-section">
        {% block certificates_section_content %}{% endblock %}
    </div>
        

    <!-- <h2>Education</h2> -->
    <!-- <h2>Work experience</h2> -->

    <div class="section" id="contacts-section">
        {% block contacts_section_content %}{% endblock %}
    </div>
{% endblock %}